<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head.ejs") %>
</head>

<body>
    <%- include ("../partials/header.ejs") %>
    <%- include ("../partials/nav.ejs") %>
    <main>
        <section>
            <h2><%= title %></h2>
            <p>The page you were looking for at <%= path %> does not exist.</p>
        </section>
    </main>
    <%- include ("../partials/footer.ejs") %>
</body>
</html>
