<link rel="stylesheet" type="text/css" href="/stylesheets/store.css" />
<nav id="store-nav">
    <ul>
        <% storeLinks.forEach((link) => { %>
            <li class=" <%= path.split('/')[3] === link.path.split('/')[3] ? 'active' : '' %> ">
                <a href="<%= link.path %>"><%= link.title %></a>
            </li>
        <% }) %>
    </ul>
    <ul>
        <% if (!(typeof profileLinks === 'undefined' || profileLinks === null)) { 
            profileLinks.forEach(profileLink => { 
                console.log(path.split('/')) %>
            <li class="<%= path.split('/')[3] === profileLink.path.split('/')[3] ? 'active' : '' %> ">
                <a href="<%= profileLink.path %>"><%= profileLink.title %></a>
            </li>
        <% }) } %>
    </ul>
</nav>